* {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  background-image: url("../public/adventure-3065880.jpg");
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
  & > div {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(0 0 0 / 50%);
  }
}

.nav {
  margin-bottom: 5px;
}

.garage-form {
  .form {
    width: 365px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
      outline: none;
    }
  }
}

.race-btns {
  margin-bottom: 10px;
}

.garage-page,
.winners-page {
  h1,
  h2 {
    margin-bottom: 20px;
  }
}

.garage {
  li {
    border-bottom: 3px solid #918585;
    margin-bottom: 20px;
    .select-btn {
      margin-bottom: 10px;
    }
    .remove-btn {
      margin-right: 20px;
    }
    .car-name {
      font-size: 18px;
      color: gold;
      letter-spacing: 1.5px;
    }
  }
}

.car {
  position: relative;
  width: 100%;
  height: 50px;
}

.background-img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.car-svg {
  position: absolute;
  margin-top: 14px;
}

.flag-svg {
  position: absolute;
  right: 200px;
  margin-top: 14px;
}

.btn {
  color: #fff;
  font-size: 15px;
  padding: 5px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #2193c1;
  border-radius: 10px;
  width: 119px;
  &:disabled {
    cursor: default;
  }
}

.btn:disabled {
  color: #201d1d !important;
}

.btn-winners:disabled,
.btn-garage:disabled {
  color: #201d1d !important;
  box-shadow: none;
}

.btn-winners,
.btn-garage {
  font-size: 20px;
  color: #fff;
  box-shadow: 1px 1px 2px black, 0 0 25px #8787cd, 0 0 5px darkblue;
  width: 200px;
  height: 35px;
  background-color: transparent;
  border: 2px solid #2193c1;
  border-radius: 10px;
}

.winners-page {
  display: none;
}

.table {
  text-align: center;
  th,
  td {
    width: 200px;
    height: 40px;
  }
  svg {
    position: static;
    left: 0;
  }
}

.table-btn {
  cursor: pointer;
  color: #7575e4;
  &.ASC::after {
    content: " ↓";
  }
  &.DESC::after {
    content: " ↑";
  }
}

.message-win {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-shadow: 0 0 11px #fff, 0 0 22px #00d2ff, 0 0 33px #00d2ff, 0 0 44px #00d2ff, 0 0 55px #00d2ff, 0 0 66px #00d2ff,
    0 0 77px #00d2ff;
}
.stop-car,
.start-car {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background: #239d23;
  border: none;
}

.stop-car {
  background: #af0808;
}

.start-car:disabled {
  color: #201d1d !important;
  background: #2d742d;
}
.stop-car:disabled {
  color: #201d1d !important;
  background: #912323;
}

.input {
  border-radius: 5px;
  border: 2px solid #2193c1;
}

.prev,
.next {
  margin-top: 10px;
}
